<div class="question-wrapper" id="loan-item">
  <div class="question">
    <div class="text-wrapper">
      <span class="creation-date"></span> <span class="product-name"></span> <span class="partner-name"></span>
      <span class="paid-count"></span></span> <span class="total-amount"></span><span
        class="badge badge-warning"></span>
    </div>
    <i class="icon-chev-down"></i>
  </div>
  <p class="pay-early-no-tip" style="margin-top: 5px; margin-bottom: 5px; display: none;">امكانية السداد المبكر غير
    متاحة</p>
  <p class="pay-early-yes-tip" style="margin-top: 5px; margin-bottom: 5px; display: none;">امكانية السداد المبكر متاحة
  </p>
  <button class="btn primary-white-btn pay-early" style="margin-top: 5px; margin-bottom: 5px; display: none;">سداد
    مبكر</button>
  <div class="answer installments-wrapper">
  </div>
</div>