كود تأكيد الطلب باسم {{customer_name}} من {{vendor}} هو {{OTP}} إجمالي قيمة المنتج/المنتجات المتفق عليها {{total_amount}} ج بالأرباح على {{num_of_months}} شهور والقسط الشهري هو {{monthly_installment}} ج ادفع الآن {{total_fees}} ج للتاجر وهو إجمالي قيمة المقدم {{administrative_fees1}} ج والرسوم الإدارية {{administrative_fees2}} ج تنويه: بإعطائك الكود والمبلغ للكاشير فإنك توافق على الشراء