dynaconf==3.2.1
structlog==23.1.0
sqlalchemy-utils==0.41.1
psycopg==3.1.18
psycopg-binary==3.1.18
psycopg-pool==3.2.1
requests==2.31.0
fastapi==0.111.0
SQLAlchemy==2.0.31
pandas==2.2.2
numpy==2.0.1
joblib==1.4.2
scikit-learn==1.5.1
lightgbm==4.4.0
# pyspark==3.5.1
shap==0.46.0
openpyxl==3.1.5
opentelemetry-api==1.26.0
opentelemetry-sdk==1.26.0
opentelemetry-instrumentation-fastapi==0.47b0
opentelemetry-exporter-otlp==1.26.0
opentelemetry-instrumentation-logging==0.47b0
opentelemetry-instrumentation-requests==0.47b0
opentelemetry-instrumentation-sqlalchemy==0.47b0
prometheus-fastapi-instrumentator==7.0.0