<div class="custom-overlay">
  <div class="popup">
    <div class="popup-wrapper">
      <div class="center-data">
        <div class="icon">
          <img src="/public/shared/img/icons/partners.svg" alt="partner" />
        </div>
        <div class="title">حصل الآن</div>
        <div class="money-wrapper">
          <div class="title">جنيه</div>
          <div class="price">١٥,١٠٠</div>
        </div>
      </div>
      <div class="notification">
        بالضغط على <b>"تأكيد"</b>، فإنك تقر وتؤكد استلامك للمبالغ المذكورة بالأعلى من العميل.
      </div>
      <div class="btn-wrapper">
        <button class="btn primary-green-btn">تأكيد</button>
        <button class="btn secondary-gray-btn">إلغاء</button>
      </div>
    </div>
  </div>
</div>
