<body>
  <%- include('./common/header',{userInfo: {userInitials:"R.M", userTag:"B.Tech Staff", userSubTag:"Relationship Manager"}, logoutUrl:logoutUrl});%>
  <div class="custom-overlay">
    <div class="popup">
      <div class="popup-wrapper">
        <div class="container" style="margin-top: 30px">
          <div class="center-alert">
            <% if(success) {%>
            <div class="text-success" role="alert">
              <p><%= title %></p>
              <% } else { %>
              <div class="text-failure" role="alert">
                <p><%= title %></p>
                <% } %>
              </div>
            </div>
            <div class="btn-wrapper">

              <button class="btn secondary-gray-btn add-new-partner" style="width: 100%;padding: 10px;"
                onclick="hidePopup()">
                <% if(success) {%>
                <span> <%= btnName %> </span>
                <% } else { %>
                <span> اخفاء </span>
                <% } %>

              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>