<div id="checkout-alert" style="display: none;">
    <div class="custom-overlay">
        <div class="popup one-btn-popup">
            <div class="popup-wrapper">
                <div class="center-data">
                    <div class="icon">
                        <img src="/public/partner/img/confirm.svg" alt="check" id="checkout-alert-success"
                            style="display: none;" />
                        <img src="/public/partner/img/wrong.svg" alt="wrong" id="checkout-alert-failure"
                            style="display: none;" />
                    </div>

                    <div class="title" id="checkout-alert-title"></div>
                    <div class="notification" id="checkout-alert-subtitle"></div>
                </div>

                <div class="btn-wrapper">
                    <a class="btn primary-green-btn" id="checkout-alert-btn" href="/private/partner/checkout">الرئيسية</a>
                </div>
            </div>
        </div>
    </div>
</div>