<div class="installment-card" id="tenure-card" style="display: none">
  <div class="duration">
    <div class="month">
      <div class="number tenure-duration"></div>
      <div class="name tenure-unit">شهور</div>
    </div>
    <div class="payment">
      <div class="number tenure-amount"></div>
      <div class="name">جنيه/شهرياً</div>
    </div>
  </div>
  <div class="item-wrapper">
    <div class="item-col">
      <div class="item mb">
        <div class="title">إجمالي مبلغ التمويل</div>
        <div class="data tenure-financed-amount"></div>
      </div>
      <div class="item">
        <div class="title">مقدم</div>
        <div class="data tenure-down-payment"><span class="warning"> بدون مقدم </span></div>
      </div>
    </div>
    <div class="item-col">
      <div class="item mb">
        <div class="title">الإجمالي بالأرباح</div>
        <div class="data tenure-total-with-interest"></div>
      </div>
      <div class="item">
        <div class="title">نسبة الأرباح السنوية</div>
        <div class="data tenure-interest-rate"><span class="warning"> بدون أرباح </span></div>
      </div>
    </div>
    <div class="item-col">
      <div class="item mb">
        <div class="title">اول قسط</div>
        <div class="data tenure-date">
          <span id="tenure-last-installment"> </span>
        </div>
      </div>
      <div class="item">
        <div class="title">المصاريف الإدارية</div>
        <div class="data tenure-admin-fees"><span class="warning"> بدون مصاريف إدارية </span></div>
      </div>
    </div>
  </div>
</div>