<div class="col-12 col-md-10 col-lg-10">
  <div class="row">
    <div class="col-12">
      <div class="internal-screen-padding">
        <div class="primary-page-title">
          <div class="subtitle">الدعم</div>
          <div class="title">الأسئلة الشائعة</div>
        </div>
      </div>
    </div>
    <div class="internal-bg">
      <div class="internal-screen-padding">
        <div class="col-12">
          <div class="custom-accordition">
            <div class="question-wrapper active" onclick="showalert(1)">
              <div class="question">
                <span>ما هي ميزة إضافة التمويل الاستهلاكي كوسيلة دفع من خلال مايلو؟</span><i class="icon-chev-down"></i>
              </div>
              <div class="answer">
                عند إضافتك التمويل الاستهلاكي كوسيلة دفع جديدة لتجارتك فإنك تتمكن من تقديم طريقة دفع تتسم بالمرونة مما
                يساهم في تقديم تجربة تسوق أفضل لعملائك وكذلك الوصول لشريحة أكبر من العملاء وزيادة المبيعات.
              </div>
            </div>
            <div class="question-wrapper" onclick="showalert(2)">
              <div class="question">
                <span>كيف تتم عملية الدفع للتجار في مايلو؟</span><i class="icon-chev-down"></i>
              </div>
              <div class="answer">
                عملية الدفع بسيطة وسهلة، فإننا نقوم بتولي كافة الأمور المالية المتعلقة بالتمويل الاستهلاكي والتحصيل من
                العملاء وكل ما تقوم به هو استلام إجمالي مبلغ المعاملة بالكامل دون الحاجة للمتابعة.
              </div>
            </div>
            <div class="question-wrapper" onclick="showalert(3)">
              <div class="question">
                <span>ما هي تكلفة إضافة خدمة التمويل الاستهلاكي كوسيلة دفع في تجارتي؟</span><i
                  class="icon-chev-down"></i>
              </div>
              <div class="answer">
                عند انضمامك لمايلو كشريك ستتمتع بميزة تنافسية بالنسبة للتكلفة. للمزيد من المعلومات حول التفاصيل يرجى
                التواصل مع فريقنا من خلال البريد الإلكتروني أو الاتصال بالخط الساخن.
              </div>
            </div>
            <div class="question-wrapper" onclick="showalert(4)">
              <div class="question">
                <span>هل يحتاج استخدام الخدمة إلى أي تكاملات تقنية؟</span><i class="icon-chev-down"></i>
              </div>
              <div class="answer">
                نعم، لكن لا داعي للقلق، ففريقنا سيقدم لك كافة سبل الدعم والإرشاد اللازم لتصبح هذه الخطوة  سلسلة وبسيطة.
              </div>
            </div>
            <div class="question-wrapper" onclick="showalert(5)">
              <div class="question">
                <span>كم يلزمني من الوقت للبدء باستخدام مايلو كوسيلة دفع؟</span><i class="icon-chev-down"></i>
              </div>
              <div class="answer">
                قد يختلف الوقت اللازم من تاجر لآخر، لكن هدفنا أن نوفر لتجارتك الوقت والمجهود وأن تكون الخدمة في طور
                التشغيل سريعًا.
              </div>
            </div>
            <div class="question-wrapper" onclick="showalert(6)">
              <div class="question">
                <span>ما هي طرق الدعم والمساعدة المقدمة للتجار لاستخدام أفضل لمايلو؟</span><i
                  class="icon-chev-down"></i>
              </div>
              <div class="answer">
                نوفر لكل شركاء نجاحنا التدريب اللازم والدعم التسويقي والمساعدة المستمرة لتقديم خدمة التمويل الاستهلاكي
                بسهولة ويسر كذلك يمكنك الاتصال بنا أو مراسلتنا عبر البريد الإلكتروني في أي قت.
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="additional-info">
            <div class="text-wrapper">
              <h1 class="title">لديك استفسارات أخرى أو تحتاج للمساعدة؟</h1>
              <div class="subtitle">
                يسعدنا الإجابة على كل أسئلتك ومساعدتك دائمًا من خلال البريد الإلكتروني أو الخط الساخن.
              </div>
            </div>
            <div class="box-wrapper">
              <div class="white-box">
                <div class="img-wrapper">
                  <img src="/public/shared/img/support-one.svg" alt="support" />
                </div>
                <div class="text-wrapper">
                  <div class="call-us">اتصل بنا</div>
                  <a href="tel:15070">15070</a>
                  <div class="subtext">من الأحد للجمعة من 8 صباحًا حتى 5 مساءًا</div>
                </div>
              </div>
              <div class="white-box">
                <div class="img-wrapper">
                  <img src="/public/shared/img/support-two.svg" alt="support" />
                </div>
                <div class="text-wrapper">
                  <div class="call-us">تواصل معنا عبر البريد الإلكتروني</div>
                  <a href="mailto:info@myloapp.com">info@myloapp.com</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    const showalert = (id) => {
      var answers = document.querySelectorAll(".question-wrapper");
      answers.forEach((element) => {
        element.classList.remove("active");
      });

      answers[id - 1].classList.add("active");
    };
  </script>
</div>