<body>
  <div class="login mylo-login">
    <div class="container">
      <div class="center-form row">
        <div class="col-12 col-md-6 col-lg-4">
          <% if (typeof errorMessage !='undefined' && errorMessage ) { %>
            <div class="error-form">
              <div class="error-message">
                <%= message %>
              </div>
            </div>
            <% } %>
              <% if (typeof successMessage !='undefined' && successMessage) { %>
                <div class="success-message">
                  <%= message %>
                </div>
                <% } %>
                  <form method="POST" action="/public/partner/forget-password" class="form-box">
                    <div class="logo-wrapper">
                      <img src="/public/shared/img/mylo-logo-ar.svg" alt="Mylo" />
                    </div>
                    <div class="form-group">
                      <label for="identifier">البريد الالكتروني أو رقم الموبايل</label>
                      <input name="identifier" class="form-control" id="identifier" aria-describedby="identifierhelp"
                        placeholder="البريد الالكتروني أو رقم الموبايل" />
                    </div>

                    <div class="form-group opp-alignment">
                      <a href="/public/partner/login" class="bold-link">تسجيل الدخول</a>
                    </div>

                    <div class="rounded-btn">
                      <button class="btn btn-primary">تغيير كلمة السر</button>
                    </div>
                    <%- include('./common/copyrights');%>
                  </form>
        </div>
      </div>
    </div>
  </div>
</body>