<body>
  <div class="login mylo-login">
    <div class="container">
      <div class="center-form row">
        <div class="col-12 col-md-6 col-lg-4">
          <form method="POST" action="#" class="form-box custom-success-form" id="submit-form">
            <div class="logo-wrapper">
              <img src="/public/partner/img/confirm.svg" alt="check" />
            </div>
            <div class="main-title">تم تغيير كلمة السر بنجاح!</div>
            <div class="main-description">يرجى حفظ كلمة السر الجديدة أو تسجيلها في مكان آمن وعدم مشاركتها مع أحد.</div>

            <a href="<%= loginUrl %>">
              <div class="rounded-btn" style="margin-top: 20px">
                <button class="btn btn-primary">
                  <span class="logout">تسجيل الدخول</span>
                </button>
              </div>
            </a>
            <%- include('./common/copyrights');%>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
    document.getElementById("submit-form").addEventListener("submit", async (event) => {
      event.preventDefault();
      window.location.href = "<%= loginUrl %>";
    });
  </script>
</body>
